/* default css start */
$offColor: #0895FB;
$offFont: 'Montserrat', sans-serif;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.header-area {
  // background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
  // url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: center center;
  background-size: cover;
}
.navbar-area {
  background: black;
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a img {
  width: 35%;
}
.site-navbar ul {
  margin: 0;
  list-style: none;
  justify-content: space-evenly;
  display: inline-flex;
  padding: 25px;
}
.site-navbar ul li a {
  white-space: nowrap;
  font-size: 14px;
  font-family: $offFont;
  padding: 0 15px;
  font-weight: bold;
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  color: $offColor;
  transition: .4s;
}
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

//intro-area
.intro-area{
  background-image: url("../image/front-view-truck 1.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 65vh;
  background-color: #040404;
  .price{
    background-color: $offColor;
    border: none;
    font-size: $offColor;
    font-weight: 800;
    font-size: 19px;
    width: 320px;
    height: 51px;
    left: 141px;
    top: 438px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 2.5rem;
  }
  button:hover{
    box-shadow: 0px 4px 4px rgba(189, 194, 228, 0.25);
    transition: .9s;
    color: blue;
  }
  h2{
    padding-top: 3.5rem;
    font-family: $offFont;
    color: $offColor;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    font-weight: 900;
  }
  p{
    color: white;
    font-size: 18px;
    font-family: $offFont;
    font-weight: 600;
    padding-top: 2.5rem;
  }
}

//services
.services{
  font-family: $offFont;
  padding-top: 3rem;
  .text-center{
    text-transform: uppercase;
    color: $offColor;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    
  }
  .blocks{
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-family: $offFont;
    display: flex;
    gap: 30px;
    .block1{
      width: 100%;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
      box-shadow: 3px 3px 20px 8px rgba(0, 0, 0, 0.11);
      border-radius: 32px;
      padding: 50px;
      h1{
        color: $offColor;
      }
      p{
        font-weight: 400;
        color: rgb(143, 143, 143);
      }
      h4{
        font-weight: 800;
        color: $offColor;
        span{
          color: black;
        }
      }
      h2{
        color: $offColor;
      }
      h3{
        color: $offColor;
        font-size: 18px;
      }
    }
    .block2{
      width: 100%;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
      box-shadow: 3px 3px 20px 8px rgba(0, 0, 0, 0.11);
      border-radius: 32px;
      padding: 50px;
      h1{
        color: $offColor;
      }
      p{
        font-weight: 400;
        color: rgb(143, 143, 143);
      }
      h4{
        font-weight: 800;
        font-size: 16px;
        color: $offColor;
        span{
          color: black;
        }
      }
      h2{
        font-size: 20px;
      }
    }
  }
}
.gruz{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background-color: $offColor;
  color: white;
  font-family: $offFont;
  h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
  }
  p{
    font-weight: 500;
    padding: 0 20rem 0 20rem;
  }
  .items{
    display: flex;
    gap: 35px;
    justify-content: center;
    .item{
      line-height: 3vh;
      font-weight: 900;
      font-size: 17px;
      padding-top: 1.5rem;
      div{
        color: rgb(77, 77, 77);
      }
    }
  }
  button{
    width: 304px;
    margin-top: 4rem;
    height: 47px;
    left: 494px;
    top: 2515px;
    background: #F2F2F2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    color: $offColor;
    font-weight: bold;
    font-size: 20px;
  }
}
.offer{
  padding-top: 3rem;
  padding-bottom: 3rem;
  h1{
    text-align: center;
    color: $offColor;
  }
  .image{
    text-align: center;
  }
  .blocks-offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10rem 0 10rem;
    img{
      padding: 40px;
    }
  }
}
.form{
  padding-top: 3rem;
  h1{
    color: $offColor;
  }
  input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  @mixin signUpActive {
    .cont.s--signup & {
      @content;
    }
  }
  
  .tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
  }
  
  .sub-cont {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    background: #fff;
  }
  
  button {
    display: block;
    margin: 2rem auto;
    font-family: $offFont;
    font-size: 16px;
  }
  button:hover{
    color: $offColor;
    transition: .7s;
  }
  
  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 360px;
  
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
      background-size: cover;
    }
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
    }
  
    &__text {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      padding: 0 20px;
      text-align: center;
      color: #fff;
  
      h2 {
        margin-bottom: 10px;
        font-weight: normal;
      }
  
      p {
        font-size: 14px;
        line-height: 1.5;
      }

    }
  
    &__btn {
      overflow: hidden;
      z-index: 2;
      position: relative;
      width: 100px;
      margin: 0 auto;
      background: transparent;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
      
      &:after {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
      }
  
      span {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  
  h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  
  label {
    display: block;
    margin: 25px auto 0;
    text-align: center;
  
    span {
      font-size: 14px;
      color: #000000;
      text-transform: uppercase;
    }
  }
  
  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
  }
  .submit {
    width: 354px;
    height: 57px;
    left: 494px;
    top: 4341px;
    background: #F2F2F2;
    color: black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
  
  .fb-btn {
    border: 2px solid #d3dae9;
    color: darken(#d3dae9, 20%);
  
    span {
      font-weight: bold;
      color: darken(#768cb6, 20%);
    }
  }
  
  .sign-in {
    transition-timing-function: ease-out;
    line-height: 6vh;
  }
}
.map{
  margin-top: -16rem;
  .blocks{
    .block1{
      position: relative;
      top: 25rem;
      left: 60rem;
      width: 20%;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
      box-shadow: 3px 3px 20px 8px rgba(0, 0, 0, 0.11);
      border-radius: 32px;
      padding: 50px;
      text-align: center;
      h1{
        color: $offColor;
        font-size: 16px;
      }
      p{
        font-weight: 400;
        color: rgb(143, 143, 143);
      }
      h4{
        font-weight: 800;
        color: $offColor;
        span{
          color: black;
        }
      }
      h2{
        color: $offColor;
      }
      h3{
        color: $offColor;
        font-size: 18px;
      }
    }
  }
}
footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
  span{
      font-weight: 300;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-style: italic;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
    top: -40px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.95);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 140vh;
    margin-top: 8rem;

    // overflow: visible;
  }
  .services{
    .blocks{
      display: block;
      .block2{
        margin-top: 1rem;
      }
    }
  } 
  .gruz{
    p{
      padding: 0;
    }
  }
  .map{
    margin-top: -14rem;
    .blocks{
      .block1{
        top: 20rem;
        left: 7rem;
        right: 0;
        width: 70%;
        p{
          font-style: 14px;
        }
      }
    }
  }
  .blocks{
    margin: 0 10px 0 10px;
    .block1 .block2{
      h4{
        font-size: 16px;
      }
      h2{
        font-size: 16;
      }
    }
  }
  .gruz{
    padding: 2rem 20px 2rem 20px;
  }
}
@media screen and (max-width: 507px){
  .header-area{
    text-align: center;
    .site-logo{
      position: relative;
      right: 7rem;
    }
    h2{
      text-align: center;
      padding: 0;
      margin-top: 5rem;
      font-size: 25px;
      line-height: 25px;
      background-color:rgba(0, 0, 0, 0.50)
    }
    p{
      text-align: center;
      font-size: 14px;
    }
    .price{
      font-weight: 500;
      font-size: 16px;
      width: 220px;
      height: 31px;
      left: 141px;
      top: 438px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .gruz{
    h1{
      font-size: 18px;
    }
    p{
      font-size: 14px;
    }
    .items{
      font-size: 16px;
    }
    button{
      font-size: 15px;
      width: 200px;
      height: 30px;
    }
  }
  .offer{
    .blocks-offer{
      padding: 0;
      display: block;
      img{
        padding: 10px;
      }
    }
  }
  .map{
    margin-top: -14rem;
    .blocks{
      .block1{
        top: 24rem;
        left: 1rem;
        right: 0;
        width: 50%;
        p{
          font-style: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 1237px){
  .map{
    margin-top: -14rem;
    .blocks{
      .block1{
        top: 24rem;
        left: 20rem;
        right: 0;
        width: 40%;
        p{
          font-style: 14px;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 569px){
  .map{
    margin-top: -16rem;
    .blocks{
      .block1{
        top: 25rem;
        left: 4rem;
        right: 0;
        width: 70%;
        p{
          font-style: 10px;
        }
        a{
          font-size: 10px;
        }
      }
    }
  }
}